<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PdfConverter_WF.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PdfConverter_WF.Settings1>
            <setting name="CalePdf" serializeAs="String">
                <value>C:\\Users\\bogdan.russ\\Desktop\\a1\\</value>
            </setting>
            <setting name="CaleXml" serializeAs="String">
                <value>C:\\Users\\bogdan.russ\\Desktop\\a1xml\\</value>
            </setting>
            <setting name="CaleExec" serializeAs="String">
                <value>C:\\Users\\bogdan.russ\\Desktop\\a1xmlfinal\\</value>
            </setting>
            <setting name="ApiUrl" serializeAs="String">
                <value>http://mddemo01.era-erp.ro/ApiEraDoc/DOC_Import</value>
            </setting>
        </PdfConverter_WF.Settings1>
    </userSettings>
</configuration>